<script>
    var a = +(prompt("Введите A"));
    var b = +(prompt("Введите B"));

    if (a < b) {
        var i = a;
        var sum = 0;
        var list = "";
        while (i < b) {
            sum += i;
            if (i % 2 !== 0) {
                list += " " + i;
            }

            i++;
        }
        document.write("Сумма = " + sum);
        if (list.length > 0) {
            document.write("<p>" + "Нечетные значения:" + list);
        } else {
            document.write("<p>" + "Нечетных значений нет");
        }

    } else {
        document.write("Условие не выполняется")
    }
</script>