<script type="text/javascript">
    var arr = [];
    var subArr = [];
    var min = 1;
    var max = 30;
    var sum = 0;
    var avg = 0;

    arr.length = prompt("Размер массива");



    for (i = 0; i < arr.length; i++) {
        arr[i] = Math.floor(Math.random() * (max - min + 1)) + min;
    }

    document.write("Значения массива" + arr);


    min = 100;
    max = 1;
    for (i = 0; i < arr.length; i++) {

        min = (arr[i] < min) ? arr[i] : min;

        max = (arr[i] > max) ? arr[i] : max;

        sum += arr[i];

        avg = sum / arr.length;

        if (arr[i] % 2 != 0) {
            subArr.push(arr[i]);
        }
    }

    document.write("<p>" + "Max: " + max);
    document.write("<p>" + "Min: " + min);
    document.write("<p>" + "Sum: " + sum);
    document.write("<p>" + "Cреднее арифметическое: " + avg);
    document.write("<p>" + "Нечетные значения: " + subArr);
</script>