table {
    background-color: gray;
    width: 20%;
}

td {
    padding: 7px;
}

.first-column {
    text-align: left;
    vertical-align: top;
    font-style: italic;
    color: white;
}

.id {
    color: darkgrey;
    font-size: 25px;
}

.khaki {
    color: khaki;
}

.red {
    color: red;
}

.gray {
    color: darkgrey;
}

.orange {
    color: darkorange;
}