table {
    border-collapse: collapse;
    width: 25%;
}

img {
    width: 20px;
    height: 15px;
}

td {
    padding: 5px;
}

.top-row {
    background: #09A418;
    background: -moz-linear-gradient(top, #09A418 0%, #35CB46 43%, #3A753A 100%);
    background: -webkit-linear-gradient(top, #09A418 0%, #35CB46 43%, #3A753A 100%);
    background: linear-gradient(to bottom, #09A418 0%, #35CB46 43%, #3A753A 100%);
    color: whitesmoke;
}

.darker-row {
    background-color: peachpuff;
}

.lighter-row {
    background-color: seashell;
}