.hw {
    width: 200px;
    height: 150px;
    background-color: skyblue;
}

.hw:hover {
    background-color: darkcyan;
}

.hw:active {
    background-color: mediumblue;
}

.hw:visited {
    background-color: gold;
}

p {
    font-size: 1.5em;
}

q:lang(de) {
    quotes: "\201E" "\201C";
}

q:lang(en) {
    quotes: "\201C" "\201D";
}

q:lang(fr),
q:lang(ru) {
    quotes: "\00AB" "\00BB";
}

.f-l:first-line {
    color: red;
    font-style: italic;
    font-weight: bold;
}

.new:after {
    content: "Новьё!";
    color: #333;
    background-color: #fc0;
    font-size: 90%;
    padding: 2px;
}

li:before {
    content: "¶ ";
}

li {
    list-style: none;
}