﻿body {
    background: black;
    color: white;
    font-family: Verdana;
    width: 2000px;
    height: 2000px;
}

#console {
    overflow: auto;
    border: 1px solid #00FF00;
    margin: 20px 0 0 0px;
    color: #00FF00;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background: #535353;
    height: 20px;
    margin: 0 0 20px 0px;
    padding: 20px;
}

button {
    background: #e0e0e0;
    border: 1px solid #949494;
    width: 192px;
    height: 30px;
    padding-left: 0px;
    color: #1c1c1c;
}

input {
    background: #e0e0e0;
    border: 1px solid #949494;
    width: 180px;
    height: 25px;
    padding-left: 10px;
    background: #282828;
    color: #e0e0e0;
}

.current {
    font-weight: bold;
    text-decoration: underline;
}

div {
    border: 1px solid white;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.animated {
    position: absolute;
}