@color-white:#FFFFFF;
@color-black:#000000;
@color-purple:#8949B9;
@color-gray:#cccccc;
@color-purple-light:#603382;
@width:50px;
@border: 1px solid;
@font:Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
.after() {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.clear(){
  margin: 0;
  padding: 0;
  border: 0;
}
.a(){
    text-decoration: none;
    padding: 0 10px 0 10px;
    color: @color-white;
    font: 1.4em normal Arial;
}
.background-color(){
    background: @color-white;
    background: -moz-linear-gradient(top, @color-white 0%, @color-purple 15%, @color-purple 100%);
    background: -webkit-linear-gradient(top, @color-white 0%, @color-purple 15%, @color-purple 100%);
    background: linear-gradient(to bottom, @color-white 0%, @color-purple 15%, @color-purple 100%);
    background-repeat: no-repeat;
}
.input(){
    width: @width + 80px;
            border: 1px solid @color-purple-light;
            border-radius: 10px;
            padding: 2px 5px;
            margin: 5px;
}
.button(){
    margin-left: auto;
          margin-right: auto;
          font-weight: bold;
          border: 1px solid @color-purple-light;
          border-style: outset;
          border-radius: 10px;
          padding: 5px 8px;
}

.clearfix {
  zoom: 1;
}

body {
  header {
    div#header-container {
      zoom: 1;
    }

    nav {
      zoom: 1;

      ul {
        zoom: 1;

        li ul.sub-nav-list {
          zoom: 1;
        }
      }
    }
  }

  section, aside {
    zoom: 1;
  }
}

.clearfix:after {
    .after();
}

body {
  header {
    div#header-container:after {
        .after();
    }

    nav {
      &:after {
        .after();
      }

      ul {
        &:after, li ul.sub-nav-list:after {
            .after();
        }
      }
    }
  }

  section:after, aside:after {
    .after();
  }
}

.clearfix:before {
    .after();
}

body {
  header {
    div#header-container:before {
        .after();
    }

    nav {
      &:before {
        .after();
      }

      ul {
        &:before, li ul.sub-nav-list:before {
            .after();
        }
      }
    }
  }

  section:before, aside:before {
    .after();
  }
}

.clearfix:after {
  clear: both;
}

body {
  header {
    div#header-container:after {
      clear: both;
    }

    nav {
      &:after {
        clear: both;
      }

      ul {
        &:after, li ul.sub-nav-list:after {
          clear: both;
        }
      }
    }
  }

  section:after, aside:after {
    clear: both;
  }

  .clear();
}

header, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, label, p, fieldset, nav, ul, li, a, span, strong, em {
    .clear();
}

div, h1, h3, h4, h5, h6, header, footer, body, section, nav, article, aside {
  display: block;
}

body {
  font: 14px normal Arial;
  color: @color-white;

  header {
    padding-top: 25px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;

    div#header-container div {
      &#logo-container {
        float: left;
        position: relative;
      }

      &#reg-form-container {
        float: right;
        position: relative;
        right: 5%;
        top: 50%;

        div {
          text-align: right;

          label {
            width: @width;
            margin: 5px;
          }

          input {
            .input();
          }
        }

        button {
            .button();

          &:hover {
            background-color: @color-purple;
            border-style: inset;
          }
        }
      }
    }

    nav {
      display: inline-block;
      width: 75%;
      margin: 20px 20px 20px 20px;
      padding: 12px;
      border: @border @color-black;
      border-radius: 10px;

      ul {
        &.nav-list {
          list-style-type: none;
        }

        li {
          float: left;
          margin: 0;

          a {
            .a();

            &.selected {
              font-weight: bold;
            }
          }

          &:hover > a {
            text-decoration: underline;
            color: @color-gray;

            + ul {
              display: block;
            }
          }

          ul {
            &.sub-nav-list {
              position: absolute;
              display: none;
              background-color: @color-purple;
              border-radius: 5px;
            }

            li {
              float: none;
              margin: 0 15px;
              padding: 10px 0;
              border-bottom: @border @color-black;

              &:last-of-type {
                border-bottom: none;
              }

              > a {
                font-size: 1.2em;
                color: @color-white;
              }
            }
          }
        }
      }
    }
  }

  section {
    width: 75%;
    float: left;
    color: @color-black;

    article {
      margin: 20px;
      padding: 20px;
      border: @border @color-black;

      header {
        background: none;
        padding: 5px;

        h1 {
          font-size: 1.4em;
          padding: 0;
        }
      }

      footer {
        padding: 5px;

        p {
          font-size: 16px;
          text-align: right;
          font-weight: normal;

          time {
            font-family: @font;
          }

          a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  aside {
    float: left;
    width: 20%;
    margin: 20px;

    > ul {
      list-style-type: none;

      > li {
        margin: 15px 0;
        padding: 15px;
        border: @border @color-black;
        border-radius: 5px;

        h2 {
          font-size: 1.1em;
          font-weight: bold;
        }

        p {
          margin-top: 10px;
          margin-right: 5px;
          margin-bottom: 10px;
          margin-left: 5px;
          font-size: 14px;

          a {
            color: #aaaaaa;
            text-decoration: none;
          }

          strong {
            color: @color-gray;
            font-weight: bold;
            font-style: normal;
          }

          em {
            color: @color-gray;
            font-weight: normal;
            font-style: italic;
          }
        }

        ul {
          list-style-type: none;
          margin-top: 10px;
          margin-right: 0;
          margin-bottom: 10px;
          margin-left: 0px;

          li {
            margin-top: 5px;
            margin-left: 10px;
            margin-bottom: 0px;
            margin-right: 0px;
            background: url('li-dot.png') no-repeat;
            background-position: 0 50%;
            padding-left: 25px;
          }
        }
      }
    }
  }

  footer {
    clear: both;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-left: 0px;

    p {
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .background-color();
}

article {
  color: @color-white;
  border-radius: 10px;
}

input {
  background-color: @color-purple;
}

footer {
  text-align: center;
}