table {
    border: 3px solid;
    height: 500px;
    width: 300px;
    background-color: lightskyblue;
}

td {
    border: royalblue 2px solid;
    background-color: lightblue;
    text-align: center;
    font-size: large;
    color: royalblue;
}

input {
    height: 50px;
    width: 300px;
    background-color: lightblue;
}