.avatar {
    width: 325px;
    height: 325px;
    border: 5px solid black;
    border-radius: 90px;
}

body {
    background-image: url("https://lh3.googleusercontent.com/proxy/wim97IX1rR_H5-C8qgcyOoPf5tzDEhoM5C_4-vKVoYA_dcRt92yMyrMXLelCRbnzOX2xUUvW_Aadh7R0t32tM-R6_KQ");
    background-size: 100%;
}

.logo {
    width: 100px;
    height: 100px;
    border: cornflowerblue 10px solid;
    border-radius: 900px;
}