.header {
    display: flex;
    background-color: slategray;
    width: 680px;
}

.head-div {
    padding: 10px 10px 10px 10px;
    color: aliceblue;
    margin: 2px;
    background-color: darkslategrey;
}

.head-div:hover {
    color: black;
    background-color: slategray;
}

.left-body {
    display: flex;
    flex-direction: column;
    background-color: slategray
}

.body-div {
    padding: 10px 10px 10px 10px;
    color: aliceblue;
    margin: 2px;
    background-color: darkslategrey;
}

.body-div:hover {
    color: black;
    background-color: cornflowerblue;
}

.body {
    display: flex;
    background-color: slategray;
    width: 680px;
}