body {
    background-color: grey;
}

.icon {
    padding-left: 30px;
    display: inline;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.mem {
    color: white;
}

h2 {
    color: yellow;
}

.text {
    color: darkgrey;
}

.shadow {
    margin-top: 20px;
}