.gallery {
    display: flex;
}

.list-img img {
    max-width: 150px;
    max-height: 180px;
}

.list-img {
    width: auto;
    height: 950px;
    overflow: auto;
}

ul {
    list-style: none;
}

.full-img {
    width: 2120px;
    height: 1300px;
    overflow: hidden;
}

.full-img img {
    width: 100%;
    overflow: hidden;
}

.full-img div {
    margin-top: 200px;
    margin-bottom: 200px;
}