body {}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.red {
    color: red;
}

p {
    background-color: dimgrey;
    color: white;
}

img {
    float: left;
    padding-bottom: 5px;
}

a {
    color: red;
}

.right {
    border: 1px gray solid;
    padding-top: 0px;
}

.style-button {
    color: rgb(108, 111, 255);
    font-size: 17px;
    line-height: 17px;
    padding: 7px;
    border-radius: 4px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(rgb(234, 234, 234) 0%, rgb(104, 175, 203) 50%, rgb(230, 238, 241) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
}

.style-button:hover {
    background: #EAEAEA;
}

.style-button:active {
    background: #E6EEF1;
}

.task {
    display: flex;
}

.cntr {
    padding: 20px 15px 15px 20px;
}

.center {
    border: 1px gray solid;
}

.nav-left {
    border: 1px gray solid;
}

.nav-right {
    border: 1px gray solid;
}