﻿.lonely {
    width: 154px;
    height: 30px;
    border: 1px solid blue;
}

.inside-div {
    width: 154px;
    height: 35px;
    border: 1px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
}

#big-div {
    border: 1px solid blue;
    width: 200px;
    height: 120px;
}