$back-ground1: #8949B9;
$white: #fff;
$font: Consolas,
'Lucida Console',
'DejaVu Sans Mono',
monospace;
$border:1px solid #603382;
%border {
    border: 1px black;
    border-style: solid;
}

%font-p {
    font-size: 1.2em;
    font-weight: bold;
}

@mixin hidden {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

@mixin clear {
    margin: 0;
    padding: 0;
    border: 0;
}

@mixin background {
    background: -moz-linear-gradient(top, #FFFFFF 0%, #8949B9 15%, #8949B9 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #8949B9 15%, #8949B9 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #8949B9 15%, #8949B9 100%);
}

@mixin li-box {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    background: url('li-dot.png') no-repeat;
    background-position: 0 50%;
    padding-left: 25px;
}

@mixin font-style($weight,
$style) {
    font-weight: $weight;
    font-style: $style;
}

.clearfix {
    zoom: 1;
}

body {
    header {
        div#header-container {
            zoom: 1;
        }
        nav {
            zoom: 1;
            ul {
                zoom: 1;
                li ul.sub-nav-list {
                    zoom: 1;
                }
            }
        }
    }
    section,
    aside {
        zoom: 1;
    }
}

.clearfix:after {
    @include hidden();
}

body {
    header {
        div#header-container:after {
            @include hidden();
        }
        nav {
            &:after {
                @include hidden();
            }
            ul {
                &:after,
                li ul.sub-nav-list:after {
                    @include hidden();
                }
            }
        }
    }
    section:after,
    aside:after {
        @include hidden();
    }
}

.clearfix:before {
    @include hidden();
}

body {
    header {
        div#header-container:before {
            @include hidden();
        }
        nav {
            &:before {
                @include hidden();
            }
            ul {
                &:before,
                li ul.sub-nav-list:before {
                    @include hidden();
                }
            }
        }
    }
    section:before,
    aside:before {
        @include hidden();
    }
}

.clearfix:after {
    clear: both;
}

body {
    header {
        div#header-container:after {
            clear: both;
        }
        nav {
            &:after {
                clear: both;
            }
            ul {
                &:after,
                li ul.sub-nav-list:after {
                    clear: both;
                }
            }
        }
    }
    section:after,
    aside:after {
        clear: both;
    }
    @include clear;
}

header,
section,
footer,
article,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
label,
p,
fieldset,
nav,
ul,
li,
a,
span,
strong,
em {
    @include clear;
}

div,
h1,
h3,
h4,
h5,
h6,
header,
footer,
body,
section,
nav,
article,
aside {
    display: block;
}

body {
    font: 14px normal Arial;
    color: $white;
    header {
        padding-top: 25px;
        padding-bottom: 5px;
        padding-right: 15px;
        padding-left: 15px;
        div#header-container div {
            &#logo-container {
                float: left;
                position: relative;
            }
            &#reg-form-container {
                float: right;
                position: relative;
                right: 5%;
                top: 50%;
                div {
                    text-align: right;
                    label {
                        width: 50px;
                        margin: 5px;
                    }
                    input {
                        width: 130px;
                        border: $border;
                        border-radius: 10px;
                        padding: 2px 5px;
                        margin: 5px;
                    }
                }
                button {
                    margin-left: auto;
                    margin-right: auto;
                    font-weight: bold;
                    border: $border;
                    border-style: outset;
                    border-radius: 10px;
                    padding: 5px 8px;
                    &:hover {
                        background-color: $back-ground1;
                        border-style: inset;
                    }
                }
            }
        }
        nav {
            display: inline-block;
            width: 75%;
            margin: 20px 20px 20px 20px;
            padding: 12px;
            @extend %border;
            border-radius: 10px;
            ul {
                &.nav-list {
                    list-style-type: none;
                }
                li {
                    float: left;
                    margin: 0;
                    a {
                        text-decoration: none;
                        padding: 0 10px 0 10px;
                        color: $white;
                        font: 1.4em normal Arial;
                        &.selected {
                            font-weight: bold;
                        }
                    }
                    &:hover>a {
                        text-decoration: underline;
                        color: #a8a8a8;
                        +ul {
                            display: block;
                        }
                    }
                    ul {
                        &.sub-nav-list {
                            position: absolute;
                            display: none;
                            background-color: $back-ground1;
                            border-radius: 5px;
                        }
                        li {
                            float: none;
                            margin: 0 15px;
                            padding: 10px 0;
                            border-bottom: 1px solid black;
                            &:last-of-type {
                                border-bottom: none;
                            }
                            >a {
                                font-size: 1.2em;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
    section {
        width: 75%;
        float: left;
        color: black;
        article {
            margin: 20px;
            padding: 20px;
            @extend %border;
            header {
                background: none;
                padding: 5px;
                h1 {
                    font-size: 1.4em;
                    padding: 0;
                }
            }
            footer {
                padding: 5px;
                p {
                    font-size: 16px;
                    text-align: right;
                    font-weight: normal;
                    time {
                        font-family: $font;
                    }
                    a {
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    aside {
        float: left;
        width: 20%;
        margin: 20px;
        >ul {
            list-style-type: none;
            >li {
                margin: 15px 0;
                padding: 15px;
                @extend %border;
                border-radius: 5px;
                h2 {
                    font-size: 1.1em;
                    font-weight: bold;
                }
                p {
                    margin-top: 10px;
                    margin-right: 5px;
                    margin-bottom: 10px;
                    margin-left: 5px;
                    font-size: 14px;
                    a {
                        color: #aaaaaa;
                        text-decoration: none;
                    }
                    strong {
                        color: #cccccc;
                        @include font-style(bold,
                        normal)
                    }
                    em {
                        color: #cccccc;
                        @include font-style(normal,
                        italic)
                    }
                }
                ul {
                    list-style-type: none;
                    margin-top: 10px;
                    margin-right: 0;
                    margin-bottom: 10px;
                    margin-left: 0px;
                    li {
                        @include li-box();
                    }
                }
            }
        }
    }
    footer {
        clear: both;
        padding-top: 15px;
        padding-bottom: 25px;
        padding-right: 0px;
        padding-left: 0px;
        p {
            @extend %font-p;
        }
    }
    background: $white;
    @include background();
    background-repeat: no-repeat;
}

article {
    color: $white;
    border-radius: 10px;
}

input {
    background-color: $back-ground1;
}

footer {
    text-align: center;
}